<div class="row flex-lg-row align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img src="/img/about.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking width Node.js">
  </div>
  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3 text-center">Sobre mim</h1>
    <p class="lead">O meu nome é Sofia (Spice para algumas amigas de infância). Sou natural de 
      Lisboa e adoro cozinhar desde criança. Sou licenciada em Comunicação Social e 
      especializei-me em marketing de seguros. Criei este blog em 2015 e desde aí tenho 
      investido mais nesta paixão. Estudei culinária macrobiótica no IMP, fiz cursos de 
      food styling e food photography e frequentei workshops de culinária em Portugal e 
      no estrangeiro. A culinária esteve presente em todas as fases da minha vida. 
      Hoje cozinho regularmente para amigos, família, blog, revistas, restaurantes e 
      outros eventos pontuais (a pedido). Cresci no seio de uma família que passou parte 
      da vida em Angola e o repertório dos almoços de domingo refletia isso mesmo: havia o 
      pirão de milho com a moamba de um lado e do outro o omnipresente pão da mealhada.
      Tudo isto faz parte da minha vida e influencia as cores, sabores e aromas das 
      minhas receitas.
    </p>
  </div>
</div>