<div class="row flex-lg-row align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img src="/img/about.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Woman preparing a cake">
  </div>
  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3 text-center">Sobre E-Receitas</h1>
    <p class="lead">
      O blog E-Receitas foi criado com o objetivo de dividir experiências e 
      abrir um novo espaço para trocar dicas e informações.
      Aqui você vai descobrir algo que deveria ser evidente, mas ainda não é: 
      a alimentação saudável está ao alcance de todos. Nem precisa saber o índice glicêmico 
      dos ingredientes, muito menos investir nos 'superalimentos'. Você só vai precisar de 
      conhecimento – e de comida de verdade.
      
    </p>
  </div>
</div>