<div class="row flex-lg-row align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">Contatos</h1>
    <p class="lead">Dúvidas sobre uma receita ou ingrediente? Experimente enviar-me uma 
      mensagem pelo Facebook ou Instagram. Costumo responder dentro de algumas horas.
      Para o caso de querer contactar-me por motivos profissionais, poderá fazê-lo 
      através do e-mail sofia@blogdaspice.com ou preenchendo o formulário que se encontra 
      nesta página.
    </p> 
  </div>
</div>