<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title != 'undefined' ? title : 'E-Receitas' %></title>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Rubik:wght@300;500&display=swap" 
  rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css"/>
  
</head>
<body>

  <div class="container-xxl px-md-5 bg-white shadow-lg">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/img/img.jpg" width="225" height="65" alt="Cooking Blog - Logo the blog"/>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Início</a></li>
        <li><a href="/about" class="nav-link px-2 link-secondary">Sobre</a></li>
        <li><a href="/submit-recipe" class="nav-link px-2 link-secondary">Enviar</a></li>
        <li><a href="/contact" class="nav-link px-2 link-secondary">Contato</a></li>
      </ul>
      <div class="col-md-3 text-end">
        <form action="/search" method="POST">
          <input type="search" name="searchTerm" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
      </div>
    </header>

    <main>
      <%- body -%> 
    </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top ">
      <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-Receitas © 2022 Todos os direitos reservados.</font></font></span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-twitter" style="font-size: 2rem; color: #1ad3e8;"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-facebook" style="font-size: 2rem; color: #1a57e8;"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-instagram" style="font-size: 2rem; color: #e8581a;"></i></a></li>
      </ul>
  </footer>
  </div>
  
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>